{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Kaban Enterprise{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block head_extra %}{% endblock %}
</head>
<body>
    <div class="app-shell">
        <aside class="sidebar">
            <div class="brand">
                <div class="brand__logo"><img src="{% static 'img/logo.png' %}" height="40" alt="Logo"></div>
                <div class="brand__text">
                    <h1>Вектор Управления</h1>
                    <p>Учет производственных задач</p>
                </div>
            </div>

            <nav class="nav">
                <a class="nav__link {% if active_page == 'dashboard' %}is-active{% endif %}" href="{% url 'dashboard' %}">
                    <span>Доска задач</span>
                </a>
                {% if current_user_scope != "employee" %}
                <a class="nav__link {% if active_page == 'tasks_create' %}is-active{% endif %}" href="{% url 'task_create' %}">
                    <span>Создать/назначить задачу</span>
                </a>
                {% endif %}
                <a class="nav__link {% if active_page == 'employees' %}is-active{% endif %}" href="{% url 'employees' %}">
                    <span>Сотрудники</span>
                </a>
                {% if current_user_scope == "admin" or current_user_scope == "manager" %}
                <a class="nav__link {% if active_page == 'reports' %}is-active{% endif %}" href="{% url 'reports' %}">
                    <span>Отчеты</span>
                </a>
                {% endif %}
                {% if current_user_scope == "admin" %}
                <a class="nav__link {% if active_page == 'admin_departments' %}is-active{% endif %}" href="{% url 'admin_departments' %}">
                    <span>Управление подразделениями</span>
                </a>
                <a class="nav__link {% if active_page == 'admin_users' %}is-active{% endif %}" href="{% url 'admin_users' %}">
                    <span>Управление пользователями</span>
                </a>
                {% endif %}
            </nav>

            <div class="sidebar__footer">
                <p class="muted">Пользователь: <strong>{{ current_username }}</strong></p>
                <p class="muted">Роль: <strong id="roleBadge">{{ current_role_label }}</strong></p>
                <a class="btn btn--ghost btn--block  logout--btn" href="{% url 'profile_change_password' %}">Сменить пароль</a>
                <a class="btn btn--ghost btn--block logout--btn" href="{% url 'logout' %}">Выйти</a>
            </div>
        </aside>

        <main class="main">
            <header class="topbar">
                <div class="topbar__left">
                    <h2>{% block page_title %}Панель управления{% endblock %}</h2>

                </div>
            </header>

            <section class="content">
                {% block content %}{% endblock %}
            </section>
        </main>
    </div>
    {% block overlay %}{% endblock %}
    <script src="{% static 'js/api-client.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
